body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.food {
  border: 2px solid red;
  padding: 10px; 
  display: flex;
  margin: auto; 
  max-width: 900px;
  min-height: 150px;
}

.food h2 {
  min-width: 170px;
}

.food h4 {
  min-width: 100px;
}

.food * {
  margin: 5px;
}

.food img {
  width: 100px;
  object-fit: cover;
}

.food #sale {
  background-color: salmon;
  color: white;
  align-self: center;
}